

.container{
    max-width: 620px;
    margin: 4rem auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container h1{
    color: var(--white);
    margin: auto;

}

.form{
    display: flex;
    flex-direction: column;
    margin: 1rem;

    textarea{
        width: 100%;
        min-height: 150px;
        resize: none;
    }

    select{
        width: 100%;
        height: 40px;
        border-radius: .3rem;
        margin-bottom: 1rem;
        padding: 0 .5rem;
        color: var(--white);
        background-color: var(--dark-900);
        border: 1px solid var(--gray-100);
    }
}


.input{
    background-color: var(--dark-900);
    border: 0;
    padding: 1rem;
    height: 40px;
    border-radius: .3rem;
    color: var(--white);
    border: 1px solid var(--gray-100);
    margin-bottom: 1rem;
}

.buttonAdd{
    height: 40px;
    width: 180px;
    border: 0;
    background-color: var(--green-900);
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: .3rem;
    color: var(--dark-700);
    margin: auto;
    transition: .7s;

    &:hover{
        background-color: var(--dark-700);
        color: var(--green-900);
    }
}

.labelAvatar{
    width: 100%;
    height: 280px;
    background-color: var(--dark-900);
    margin-bottom: 1rem;
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    input{
        display: none;
    }

    span{
        z-index: 99;
        position: absolute;
        opacity: .7;
        transition: all .7s;
    }

    span:hover{
        opacity: 1;
        transform: scale(1.2);
    }
}

.preview{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: .3rem;
}



@media (max-width: 720px){
    .container h1{
        color: var(--white);
        font-size: 1.7rem;
    }
  }

